* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: system-ui, "Poppins", sans-serif;
  min-height: 100vh;
  line-height: 1.5;
  font-size: 1.6rem;
  box-sizing: border-box;
  overflow: hidden;
}
ul {
  list-style: none;
}

/* Eliminamos la fecha que por defecto aparece en el desplegable */
